body {
  padding: 50px;
}

.box {
  display: inline-block;
  background: pink;
  width: 200px;
  height: 200px;
  transition: transform 300ms ease-in-out;
}

.box:hover {
  transform:
    translate(200px, 150px)
    rotate(20deg);
}