body {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  transition: all 1s;
}

.box {
  background: pink;
  width: 80px;
  height: 80px;
  position: relative;
  /* animation: myframes 2s ease-in-out 0s infinite; */
  animation-name: myframes;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.box.is-paused {
  animation-play-state: paused;
}

.rotate {
  transform: rotate(90deg);
}

@keyframes myframes {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}