body {
  padding: 50px;
}

.box {
  display: inline-block;
  background: pink;
  width: 200px;
  height: 200px;
  position: relative;
  /* animation: myframes 2s ease-in-out 0s infinite; */
  animation-name: myframes;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.box.is-paused {
  animation-play-state: paused;
}

@keyframes myframes {
  0% {
    height: 200px;
  }
  30%, 70% {
    width: 400px;
    background: orange;
    height: 500px;
  }
  70% {
    height: 700px;
  }
  100% {
    height: 200px;
    background: pink;
  }
}